.body{
    display: flex;
    
    background-color: rgb(240, 235, 235);
}

#rdb-logo-img{
    height: 40px;
    width: 150px;
    display: flex;
    position: fixed;
    right: 5px;
    top: 2px;

}

#novus-logo-img{
    height: 40px;
    width: 150px;
    display: flex;
    position: fixed;
    left: 5px;
    top: 4px;
}

