.header-body{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: fit-content;
}

.header-RDB-logo{
    position: absolute;
    right: 0px;
    top: 2px;
    display: flex;
    width: fit-content;
}

.header-Novus-logo{
    position: absolute;
    left: 4px;
    top: 2px;
    display: flex;

}

#rdb-logo-img{
    height: 40px;
    width: 160px;

}

#novus-logo-img{
    height: 40px;
    width: 150px;
    
}

