.App-body {
  width: fit-content;
  height: fit-content;
  background-color: black;
}

.app-header{
  position: absolute;
  width: 100%;
  top: 0;
  background-color: white;
}

.app-infoBox{
  position: absolute;
  top: 60px;
  right: 30px
 
}

.app-table{
  position: absolute;
  top: 470px;
  width: 100%;
}

.chart-box{
  position: absolute;
  display: flex;
  top: 100px;
  width: fit-content;
  height: fit-content;
  
}